.grid {
    display: grid;
    position: relative;
    height: 100px;
    background-color: rgba(6, 38, 51, 0.767);
    /* background-image: url("../../assets/img/bgui.png"); */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px;
    text-align: center;
  }

  .time {
    font-family:'Titillium Web';
    color: aliceblue;
  }

  .temp {
    color: aliceblue;
    font-size: 20px;
    font-weight: 900;
    font-family: Tahoma, sans-serif;
  }