body {
    background-color: darkgrey;
}  
.location {
    font-display: 20px;
    color:white;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.WeatherName {
    color:rgb(209, 204, 204);
    font-family: 'Titillium Web', sans-serif;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  .centered {
    color: #ffffff; 
    font-family: 'Titillium Web', sans-serif;
    font-size: 90px; 
    font-weight: 550; 
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader:empty {
    position: absolute;
    top: calc(50% - 4em);
    left: calc(50% - 4em);
    width: 6em;
    height: 6em;
    border: 0.25em solid rgba(0, 0, 0, 0.2);
    border-left: 0.25em solid #000000;
    border-radius: 60%;
    animation: load8 2.1s infinite linear;
  }
  
  @keyframes load8 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }