body {
    background-color: darkgrey;
}
.wrapper{
    position: fixed;
    width: 95%;
    height: 100%;
    display: flex;
  }
.card {
    box-shadow: 0 6px 12px 2px rgba(20, 19, 19, 0.534);
    width: 370px;
    margin: auto;
    text-align: center;
    background-color:#F8F8FF;
}