.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 450px;
    margin: auto;
    text-align: center;
    height: 500px;
}

.wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .topper {
    color:white;
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
}

  .centered {
    color:white;
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h3 { 
    color: #ffffff; 
    font-family: 'Lato', sans-serif; 
    font-size: 90px; 
    font-weight: 300; 
    line-height: 58px; 
    margin: 0 0 58px; 
}