.wrapper{
  position: fixed;
  width: 95%;
  height: 82%;
  display: flex;
}
.card {
  width: 370px;
  margin: auto;
  text-align: center;
  background-color:#F8F8FF;
 }
.card-later {
  width: 370px;
  margin: auto;
  text-align: center;
  background-color:#F8F8FF;
}

.loader:empty {
    position: absolute;
    top: calc(50% - 4em);
    left: calc(50% - 4em);
    width: 6em;
    height: 6em;
    border: 0.25em solid rgba(0, 0, 0, 0.2);
    border-left: 0.25em solid #000000;
    border-radius: 60%;
    animation: load8 2.1s infinite linear;
  }
  
  @keyframes load8 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }